* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #36a89d;
}

.topnav span {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.contentLogo {
  background-color: #ffff;
  padding: 10px;
  height: 92px;
  text-align: center;
}

.grad {
  background-color: #ffff;
  height: 17px;
  text-align: center;
  background-image: linear-gradient(to right, #FF9933, #39AB9E, #0071BC);
}

.contentBanner {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/images/catarata1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 70vh;
  height: 80vh !important;
  padding: 10px;
}

.contentBanner p {
  color: orange;
}

.contentBanner p + p {
  color: #ffff;
}

.contentBanner p + p + p {
  color: #39AB9E;
}

.contentBanner p + p + p + p {
  color: #ffff;
}

.right {
  text-align: center;
  color: #ffff;
  background-color: rgba(0, 0, 0, 0.75);
  background-size: cover;
  background-position: center center;
  float: right;
  font-size: 1.45em;
}

input[type="button"] {
  border-radius: 18px;
  height: 50px;
  background-color: #0d756d;
  color: #ffff;
  border-color: #417975;
  border-style: solid;
  font-size: 1em;
  font-weight: bold;
}

.contentHistory {
  color: #ffff;
  background-color: #12a89d;
}

.contentHistory header {
  background-color: orange;
  overflow: hidden;
  text-align: center;
  font-size: 30px;
}

.row {
  display: -webkit-flex;
  display: flex;
}

.filiadas header {
  font-size: 60px;
  margin: 0 auto;
  width: 700px;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #36a89d 33%, #36a89d 50%, orange 45%, orange 100%);
}

.filiadas footer h4 {
  color: #36a89d;
}

.filiadas footer h5 {
  color: #36a89d;
}

.filiadas footer p strong {
  color: orange;
  font-size: 20px;
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  text-align: center;
}

.column p {
  font-size: 1.5rem;
}

.column img {
  border-radius: 18px;
}

@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.Banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/images/catarata3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 70vh;
  height: 80vh !important;
  padding: 10px;
  display: block;
}

.Banner .cover {
  text-align: center;
  color: #ffff;
  background-color: rgba(0, 0, 0, 0.75);
  background-size: cover;
  background-position: center center;
  font-size: 1.45em;
  width: 700px;
  margin: 0 auto;
}

#ofertas {
  margin: 0 auto;
  width: 250px;
  margin-bottom: 60px;
}

.duvidas {
  margin: 0 auto;
  display: block;
  text-align: center;
  background-color: #ece5dd;
  font-weight: bold;
}

.duvidas span {
  padding-right: 180px;
}

.footer {
  background-color: #A29C99;
  padding: 10px;
  text-align: center;
  color: #ffff;
  font-size: 15px;
  display: block;
}
